/* some style */

* {
  font-size: 125%;
}

body {
  color: white;
  background-color: rgb(67, 67, 67);
  padding: 4rem 3rem;
}

.halo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.header__logo {
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 3%;
  font-size: 1.5rem;
}

.navigation__list_el {
  padding: 10px 15px;
  border: 1px solid white;
}

.navigation__list_el:hover {
  cursor: pointer;
}

.add {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-Input {
  font-size: 1.4rem;
}

.add_btn {
  height: 1.5rem;
  line-height: 1.5rem;
}
.add_btn:hover {
  cursor: pointer;
}
